<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EnviroRich</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="Header">
      <a href="/" id="Name"><b>EnviroRich</b></a>
      <img id="image" src="assets/moneyplant.png" />
    </div>
    <div id="TodayStats">
      <div id="TodayCO2">Today you saved 500 KG of CO2!</div>
    </div>
    <div id="Stats">
      <div id="TotalCO2"><b>Total CO2 saved: 10000 KG</b></div>
      <div id="TotalMoney"><b>Total money made: $100</b></div>
    </div>
    <div id="Claim">
      <a href="/claim" id="ClaimButton">Claim your money!</a>
    </div>
    <div id="More">
      <div id="MoreDesc">
        Want to learn more about how to save the environment?
      </div>
      <a href="https://oceanservice.noaa.gov/ocean/earthday.html" id="MoreLink1"
        >oceanservice.gov</a
      >
      <a
        href="https://www.naturespath.com/en-us/blog/nine-things-you-can-do-to-save-the-environment/"
        id="MoreLink2"
        >naturespath.com</a
      >
      <a
        href="https://www.treehugger.com/important-things-to-do-for-the-environment-1203550"
        id="MoreLink3"
        >treehugger.com</a
      >
      <a id="leaderboardbutton" href="/leaderboard">View the leaderboard</a>


    </div>

    <script src="js/script.js"></script>
  </body>
</html>
