<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EnviroRich</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="Header">
       <button onclick="headerButton()" id="Name"><b>EnviroRich</b></button>
      <img id="image" src="assetsg/moneyplant.png" />
    </div>

    <div>Top 5 Users in terms of carbon emissions</div>
    <div id="user1">1) bigboy35 - 69 kg</div>
    <div id="user2">2) RUP3RT - 66 kg</div>
    <div id="user3">3) dnjoe - 40 kg</div>
    <div id="user4">4) XxEnvirorichxX - 38 kg</div>
    <div id="user5">5) BigManJohnson - 27 kg</div>

    <script src="js/leaderboard.js"></script>
  </body>
</html>
