<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EnviroRich</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="Header">
       <button onclick="headerButton()" id="Name"><b>EnviroRich</b></button>
      <img id="image" src="assets/moneyplant.png" />
    </div>
    <div id="Welcome">Welcome TheMagicApple</div>
    <button id="selectButton" onclick="select()">Submit your daily tasks</button>
    <div id="Or">Or</div>
    <a href="/dashboard" id="dashboardButton">View your dashboard</a>
    <script src="js/script.js"></script>
    <script>
      function headerButton(){
        var loggedIn=localStorage.getItem("LoggedIn");
        if(loggedIn=="true"){
          window.location.href="/dashboard";
        }else{
          window.location.href="/";
        }
      }
    </script>
    <script>
      function select(){
        const d=new Date();
      var day=d.getDate();
      if(localStorage.getItem("LastDay")==day){
        alert("You cannot submit your daily tasks again until tomorrow.");
      }else{
        localStorage.setItem("LastDay",day);
        window.location.href="/selectThings";
      }
      }
      
      
    </script>
  </body>
</html>

