<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EnviroRich</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="Header">
      <a href="/" id="Name"><b>EnviroRich</b></a>
      <img id="image" src="assets/moneyplant.png">
      
    </div>
    <div id="LoginText"><span title="Login">Login</span></div>
    <main>
        <div class="input-group">
            <input type="text" id="username" required id="userField"/>
            <label for="username" class="label">Username</label>
        </div>
    </main>
    <main2>
      <div class="input-group">
            <input type="password" id="password" required id="passField"/>
            <label for="password" class="label">Password</label>
        </div>
    </main2>
    <a href="/signup" id="SignUp2">Don't have an account? Sign up here</div>
    <a href="/loggedin" id="LoginButton">Log In</a>
    
   
    
    <script src="js/script.js"></script>
  </body>
</html> 