<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EnviroRich</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <script src="js/script-signup.js"></script>
  </head>
  <body>
    <div id="Header">
      <a href="/" id="Name"><b>EnviroRich</b></a>
      <img id="image" src="assets/moneyplant.png" />
      <a href="/login" id="Login">Login</a>
      <a href="/signup" id="Signup">Sign up</a>
    </div>
    <div id="LoginText">Sign Up</div>
    <main>
      <div class="input-group">
        <input
          type="text"
          id="username"
          name="username"
          required
          id="userField"
          class="js-username"
        />
        <label for="username" class="label">Username</label>
      </div>
    </main>
    <main2>
      <div class="input-group">
        <input
          type="password"
          name="password"
          id="password"
          required
          id="passField"
          class="js-password"
        />
        <label for="password" class="label">Password</label>
      </div>
    </main2>
    <button onclick="sendSignupData()" id="SignUpButton">Sign Up</button>
  </body>
</html>
